
.hamberger_menu {
  box-sizing: border-box;
  position: absolute;
  padding: 0.2rem;
  border-radius: 3%;
  height: 4rem;
  width: 8rem;
  top: 3rem;
  right: 0;
  background-color: rgb(15, 45, 95);
  z-index: 4;
  /* transition: transform 3s ease-in-out; */
}
.hamberger_menu * {
  padding-bottom: 1rem;
  text-decoration: none;
  display: block;
  color: rgb(201, 155, 227);
}

.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 0.3rem;
  padding-left: 4vw;
  padding-right: 3.7vw;
  width: 100dvw;
  height: 4rem;
  background-color: rgb(29, 29, 29);
  border: 0.05rem solid rgb(145, 145, 145);
}

.navbar * {
  box-sizing: border-box;
  flex-grow: 0;
}
.brand {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-grow: 1;
}
#logo {
  width: auto;
  height: 2.1rem;
}
.site_name {
  font-size: 35px;
  color: rgb(92, 87, 190);
}
.nav_buttons * {
  padding-inline: 10px;
  display: inline;
}
.browse_movie {
  text-decoration: none;
  color: rgb(145, 145, 145);
  font-size: 20px;
}
.browse_movie:hover {
  color: aqua;
}

.about {
  color: rgb(145, 145, 145);
  font-size: 20px;
}
.cross_line {
  transform: rotate(45deg);
  width: 1rem;
  height: 0.2rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}
@media (max-width: 780px) {
  .navbar {
    height: 3rem;
    padding-left: 15px;
  }
  #logo {
    height: 1.6rem;
    width: auto;
  }

  .site_name {
    font-size: 1.7rem;
  }
}

.about:hover {
  color: aqua;
}

.hamberger_button {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.hamberger_button * {
  height: 6px;
  width: 20px;
  border-radius: 20%;
  background-color: cyan;
}
