.row {
  height: 3rem;
  width: 100vw;
  background-color: rgb(0, 255, 255);
  border-bottom: 0.2rem solid red;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 3vw;
  padding-right: 3vw;
  text-decoration: none;
}

.first_inside_div {
  pointer-events: none;
  width: 6vw;
  flex-grow: 0;
}
.second_inside_div {
  pointer-events: none;
  align-content: center;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  flex-grow: 1;
  height: 3rem;
}
.third_inside_div {
  pointer-events: none;
  width: 14vw;
  flex-grow: 0;
}
@media (max-width: 780px) {
  .row {
    height: 2.5rem;
  }
  .row * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .second_inside_div {
    height: 2.5rem;
    /* align-items: center; */
  }
  /* .disable_hover:hover {
    background-color: initial;
  } */
}
@media (min-width: 780px) {
  .row:hover {
    background-color: rgba(23, 23, 23, 0.4);
  }
}
